<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    </head>
    <body>
    <h1>ŽADATELÉ:</h1>
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
                <input class="input_window" type="file" name="file_zadatele"/>
                <input class="button submit" type="submit" value="Do toho!"/>
                <input class="button reset" type="reset" value="Reset" />
        </form>
    <h1>PROJEKTY:</h1>
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
                <input class="input_window" type="file" name="file_projekty"/>
                <input class="button submit" type="submit" value="Do toho!" />
                <input class="button reset" type="reset" value="Reset" />
        </form>

    <div>
        <p class="text"> Stiskem tlačítka Do toho! proběhne transformace souboru na .csv, který se následně automaticky stáhne do Downloads. </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      <img src="https://cdn.glitch.com/e4d02ffc-3286-4cc3-a181-4cd79be6369a%2Fgreatday.jpg?v=1582719765931" alt="smile!">
    </div>

    </body>
</html>
